<!-- Destacados -->

<section class="container-fluid mt-5" id="app2">
    <div class="row mb-5">
        <div class="col">
            <h3 class=" font-weight-bold text-danger"><span class="text-dark">MAS</span> VENDIDOS</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mb-4 col-lg-3 px-2">
            <div class="card px-5 hover">
                <img src="../../../../assets/img/product.PNG" class="img-fluid">
                <div class="card-body text-center d-flex flex-column">
                    <a class="text-dark" href="#">NEXT-CELULAR GT CON CAMARA</a>
                    <span class="font-weight-bold mt-3">S/. 39.00</span>
                    <a href="#" class=" w-100 mt-3 btn btn-sm btn-outline-danger rounded text-dark border-dark">COMPRAR</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <h3 class=" font-weight-bold text-danger"><span class="text-dark">PRODUCTOS</span> DESTACADOS</h3>
        </div>
    </div>
    <div class="row white">
        <div class="col-12 px-2 mb-3 col-sm-6 col-md-6">
            <div class="card rounded-0 py-2 hover">
                <div class="row no-gutters">
                    <div class="col-5"><img class="img-fluid" src="../../../../assets/img/audifono.PNG"></div>
                    <div class="pt-5 col-7 text-center">
                        <a href="" class=" text-dark d-block pb-2">Philips - Audífonos OE Bluetooth BASS+</a>
                        <span class="font-weight-bold">S/. 169.00</span>
                        <p class="my-3">Audífonos Bluetooth con graves amplios y potentes.</p>
                        <a href="#" class="btn btn-sm btn-outline-danger rounded text-dark border-dark">COMPRAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>